Excel_MultiSheet_Advanced_Pipeline/Excel_MultiSheet_Advanced_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"DirectStorageConnection":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Excel_MultiSheet_Advanced_Pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"description":"Advanced pipeline for processing Excel files with multiple sheets and irregular content","activities":[{"name":"Get_Excel_Files","description":"This advanced Excel processing pipeline handles multi-sheet Excel files with irregular structures and non-tabular content. It dynamically detects sheet types using pattern recognition, applies sheet-specific transformations based on JSON configurations, and intelligently filters out non-tabular content. The pipeline implements robust error handling with detailed logging and recovery mechanisms, produces clean structured output optimized for downstream analytics, and includes comprehensive monitoring capabilities. It specifically handles varying header positions, inconsistent column naming, external data outside table boundaries, and special formatting scenarios. All transformations are configurable through external mapping files without requiring pipeline code changes.","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ExcelInputFolder","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEachExcelFile","description":"Processes each Excel file found in the input container. Handles files with multiple sheets and irregular formatting by applying sheet-specific transformations based on content patterns. Supports error handling with detailed logging and skips non-tabular content outside of data tables.","type":"ForEach","dependsOn":[{"activity":"Get_Excel_Files","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get_Excel_Files').output.childItems","type":"Expression"},"activities":[{"name":"Get_Excel_Sheets","description":"Extracts sheet information from the current Excel file","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ExcelInputFolder","type":"DatasetReference","parameters":{}},"fieldList":["exists","itemType"],"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"Validate_Excel_File","description":"Validates that each Excel file exists and is accessible before processing. Retrieves file properties such as size and last modified date to ensure the file can be properly handled","type":"GetMetadata","dependsOn":[{"activity":"Get_Excel_Sheets","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ExcelInputFolder","type":"DatasetReference","parameters":{}},"fieldList":[],"storeSettings":{"type":"AzureBlobStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"Get_Excel_Sheet_Names","description":"Calls Azure Function to extract sheet names from the current Excel file. This function reads the Excel structure and returns metadata about all sheets contained in the file, enabling the pipeline to process multiple sheets with varying structures.","type":"WebActivity","dependsOn":[{"activity":"Validate_Excel_File","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{"Content-Type":"application/json"},"url":"https://3mg-excel-processor.azurewebsites.net/api/getexcelsheets","body":{"container":"excel-input","blob":"@item().name"}}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/ExcelInputFolder')]"]},{"name":"[concat(parameters('factoryName'), '/ExcelInputFolder')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('DirectStorageConnection')]","type":"LinkedServiceReference"},"parameters":{"fileName":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":" @dataset().fileName","container":"excel-input"}}},"dependsOn":[]}]}